.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  min-width: 60px;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background: #f4f4f4;
  font-size: 12px;
  font-weight: 600;
  font-family: ubuntu, arial;
  text-align: center;
  color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 1px 2px grey;
}

.toast.toast-displayed {
  opacity: 1;
}

.toast:not(.toast-visible) {
  display: none;
}
